@import "bootstrap-sprockets";
@import "bootstrap";

img {
  max-width: 400px;
}

body {
  background: {
    image: asset_url("wallpaper.jpg");
  }
}

h1, h2, label, p {
  color: white;
}

.jumbotron {
  background-color: transparent
}

.jumbotron h1, h2, label, p {
  color: white;
}

#MyCarousel {
  max-height: 500px;
  max-width: 500px;
}

.btn-primary {
  background-color: rgb(83, 84, 82);
  border-color: rgb(83, 84, 82);
}

.alert-info {
  background-color: transparent;
  border-color: transparent;
}

a {
  color: rgb(83, 84, 82);
}

.list-group-item {
color: rgb(83, 84, 82);
}