@import "bootstrap-sprockets";
@import "bootstrap";

img {
  max-width: 400px;
}

body {
  background: {
    image: asset_url("wallpaper.jpg");
  }
}

h1, h2, label, p {
  color: white;
}

h1 {
  margin-top: 250px;
}

.jumbotron {
  background-color: transparent
}

.jumbotron h1, h2, label, p {
  color: white;
}

#MyCarousel {
  max-height: 500px;
  max-width: 500px;
  margin-top: 250px;
  margin-left: 70px;
  margin-right: -10px;
}

.btn-primary {
  background-color: rgb(83, 84, 82);
  border-color: rgb(83, 84, 82);
}

.alert-info {
  background-color: transparent;
  border-color: transparent;
}

a {
  color: rgb(83, 84, 82);
}

.list-group-item {
color: rgb(83, 84, 82);
}

// .col-one {
//   margin-top: 500px;
// }
//
// .col-two {
//  margin-top: 300px;
//  display: inline-block;
// }
// .row-centered {
//   text-align: center;
// }
//
// .col-centered {
//   text-align: center;
//   display: inline-block;
//   float: none;
//   text-align: right;
//   margin-top: -4px;
// }
